depexts: [
  [ "nasm" "gcc-13" "pkg-config"
    "llvm-16-dev" "clang-16"
    "qemu-user-static" "binutils-riscv64-linux-gnu" "gcc-13-riscv64-linux-gnu"
    "libcunit1-dev"
  ] {os-distribution = "ubuntu"}
]

pin-depends: [
  ["ppx_deriving_qcheck.0.6" "git+https://github.com/c-cube/qcheck.git#42429bf06ba12373cad02b1404f50d0ad6238af5"]
]
