name: Build master

on:
  pull_request:
    branches:
      - 'master'
      - 'dev'
  push:
    branches:
      - 'master'
      - 'dev'

env:
  OPAMROOT: /home/opam/.opam
  OPAMYES: true
  OPAMCONFIRMLEVEL: unsafe-yes
  DUNE_PROFILE: release

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: kakadu18/ocaml:llvm16

    # The below probably could be used instead of styfle/cancel-workflow-action
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

    steps:
      - run: opam --version
      - run: opam exec -- ocamlopt --version
      - run: opam list
      - run: opam update
      - run: sudo apt update

      # checking out the code seems to be important because local switch is used
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install dependencies via Makefile
        run: make deps

      - name: Build and test
        run: |
          eval $(opam env)
          dune build
          dune runtest

      - name: Run the testsuite
        run: |
          eval $(opam env)
          make testsuite VERBOSE=1
